{:cljfmt {:indents
          {assoc [[:block 1]]
           GET   [[:block 2]]}}
 :source-paths ["src" "test"]
 :use-metadata-for-privacy? true
 :keep-require-at-start? true
 :show-docs-arity-on-same-line? true
 :semantic-tokens? true
 :auto-add-ns-to-new-files? true
 :dependency-scheme "jar"}
